body {
  background-color: #ececec;
}
#titleStyling {
  color: #5f6f81;
  font: inherit;
  font-size: 30px;
}
#contactTitleStyling {

  color: white;
  font: inherit;
  font-size: 30px;
}
#landingPage {
  height: 100vh;
}
#introText {
  font-size: 1.1rem;
  min-width: 250px;
  line-height: 1.4;
  color: #5f6f81;
}
#footer {
  color: white;
}
#lookingFor {
  color: #6f42c1;
}

#submitButton {
  background-color: rgb(53, 52, 52);
}
@media (min-width: 1440px) {
  /** Plus petit ou égal à 1440 px **/
  #aboutText {
    background-color: white;
    border-radius: 50px;
    font-size: 50px;
    min-width: 250px;
    color: #5f6f81;
    font: inherit;
    line-height: 1.5;
  }
  #skillsIcons {
    background-color: white;
    border-radius: 50px;
  }
  #skillItem {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  }
}
@media (min-width: 768px) {
  /** Plus grand ou égal à 768 px **/
  #aboutText {
    background-color: white;
    border-radius: 50px;
    font-size: 1.2rem;
    min-width: 250px;
    color: #5f6f81;
    font: inherit;
    line-height: 1.5;
  }
  #skillsIcons {
    background-color: white;
    border-radius: 50px;
  }
  #skillItem {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  }
  #contactForm {
    padding: 15px 40px 40px 40px;
  }
}
@media (max-width: 767px) {
  /** Plus petit ou égal à 767 px **/
  #aboutText {
    font-size: 1rem;
    min-width: 250px;
    color: #5f6f81;
    font: inherit;
    line-height: 1.4;
  }
  #skillItem {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    background-color: white;
  }
  #contactForm {
    padding: 15px 20px 20px 20px;
  }
}
